[Unit]
Description=Add osimages image as device
Requires=run-mount-installercd.mount
Before=run-mount-osimages.mount

[Service]
Type=oneshot
ExecStart=losetup -f -P /run/mount/installercd/osimages.gpt.img
RemainAfterExit=yes
ExecStop=bash -c 'losetup -d $(losetup -j /run/mount/installercd/osimages.gpt.img -O name -n)'

[Install]
RequiredBy=run-mount-osimages.mount
